.cart-container {
    display: flex;
    justify-content: center;
}

.cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aitem-container {
    border: inset 4px;
    border-radius: 15px;
    background-color: #5a88a4;
    padding: 1vh;
    height: fit-content;
    width: 60%;
    color: white;
    font-weight: bold;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.aitem-photo {
    margin: 2vh;
    border: solid #343332 20px;
    border-radius: 40px;
    width: 100px;
    height: 100px;
}

.aitem-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5vh;
    width: 50vh;
}

.ainfo-element {
    padding-top: 1vh;
    padding-bottom: 1vh;
}