.footer-container {
    height: fit-content;
    background-color: #ACCFCB;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.logo {
    margin: 2vh;
}

.main-info {
    padding: 1vh;
    text-align: center;
    border-top: dotted #10383a 2px;
}

.copyright {
    padding-bottom: 1.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    p {
        padding-left: 1vh;
        font-weight: bold;
    }
}