.navbar-container {
    display: flex;
    background-color: #ACCFCB;
    height: 15vh;
}

.navbar-lt {
    display: flex;
    width: 15%;
    border: 2px solid #10383a;
    border-radius: 50px;
    background-color: #DF8453;
    margin: 3vh;
    margin-left: 10vh;
    h3 {
        display: flex;
        align-items: center;
        justify-content: right;
        color: #10383a;
        width: 70%;
    }
}
    

.navbar-logo {
    margin-left: 2.5vh;
    margin-right: 2.5vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu {
    width: 85%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.link-element {
    margin: 4vh;
    color: #10383a;
    text-decoration: none;
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
    &:active{
        opacity: 1;
    }
}

.cart {
    margin-right: 10vh;
    margin-left: 20vh;
}