body {
    background-color: #e6e6ae;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    form {
        padding: 5vh 15vh 10vh 15vh;
        background-color: #5a88a4;
        
        border-radius: 25px;
        box-shadow: 10px 10px 10px 0px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin-bottom: 4vh;
        }
        input {
            height: 4vh;
            width: 25vw;
            margin-bottom: 1vh;
        }
        p {
            margin-top: 2vh;
            width: fit-content;
        }
    }
}

.login-button {
    height: 5vh;
    width: 5vw;
    font-weight: bold;
    font-size: large;
}

.login-button:hover,
.login-button:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

$colors: (
  login-button: #663d41,
);

@each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{#663d41};
    }
  }

  button {  
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
      border-color: var(--hover);
      color: white;
    }
  }